pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
vendor/bundle/


.bundle
.DS_Store
.livereload
.sass-cache/
.yardoc/
db/*.sqlite3
db/schema.rb
db/schema.sql
log/*
*.tmproj
public/system/*
public/test_system/*
public/assets/*
vendor/rails/*
tmp/cache/*
tmp/capybara/*
tmp/data/*
coverage
*.sublime-project
*.sublime-workspace

config/secrets.yml
config/database.yml
/config/application.yml
/spec/dummy/config/application.yml
db/seeds.rb
db/seed_files/*

.env


db/migrate/20141009093718_create_kendocup_results.rb.zip
