<!DOCTYPE html>
<html>
<head>
  <title>Kendocup</title>
  <%= stylesheet_link_tag    "kendocup/application", media: "all" %>
  <%= javascript_include_tag "kendocup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
